classes/
generated-sources/
maven-archiver/
maven-status/
yuan-common/target/
plugins/yuan-chart/yuan-chart/.yuan/
plugins/yuan-chart/yuan-chart/.idea/
plugins/yuan-chart/yuan-chart/target/
.idea/
.yuan/
*.iml
.vscode/
*.swp
*.swo

# system
.DS_Store
Thumbs.db