classes/
generated-sources/
maven-archiver/
maven-status/
yuan-common/target/
yuan-common/.yuan/
yuan-platform/.yuan/
yuan-demo/quick/data/model/
yuan-platform/target/artifacts/yuan/plugins/yuan-core
plugins/yuan-chart/.yuan/effective-pom.xml
plugins/yuan-chart/target/
plugins/yuan-chart/dependency-reduced-pom.xml
plugins/yuan-detection/target/
plugins/yuan-detection/.yuan/effective-pom.xml
plugins/yuan-detection/dependency-reduced-pom.xml
plugins/yuan-detection/src/resources/yolo/
plugins/yuan-deep/.yuan/effective-pom.xml
plugins/yuan-deep/dependency-reduced-pom.xml
plugins/yuan-deep/target/
*.params
*.torchscript
*.log
.idea/
config.json

# system
.DS_Store
Thumbs.db